/* Styling for Hangman game UI */

div#hangman {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1ex 0;
  font-family: verdana, serif;
}

/* Title */
div#hangman #title {
  font: bold 20pt;
}

div#hangman #answer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: inherit;
}

div#hangman #answer>span {
  width: 1em;
  margin: 0 0.5em;
  text-wrap: nowrap;
  border-bottom: 3px solid;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
}

div#hangman #guesses {
  margin: inherit;
}

div#hangman #status {
  margin: inherit;
  height: 1ex;
}

/* New Game button */
div#hangman #newGameButton {
  width: 120px;
  background-color: #09f;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
  margin: 6px;
}

div#hangman #newGameButton:hover {
  background-color: #07d;
}